/* Fix Sidenav issue */
aside {
	&.sidenav-main {
		&.nav-collapsed {
			.brand-logo {
				img {
					&:first-child {
						display: none!important;
					}
					&:nth-child(2) {
						display: unset!important;
					}
				}
			}
		}
		&:not(.nav-collapsed) {
			.brand-logo {
				img {
					&:first-child {
						display: unset!important;
					}
					&:nth-child(2) {
						display: none!important;
					}
				}
			}
		}
		.brand-logo {
			padding: 16px 12px 16px 15px!important;
			img {
				height: 30px!important;
			}
			.logo-text {
				vertical-align: 8px;
				font-weight: bold;
			}
		}
        .brand-sidebar {
            .navbar-toggler {
                i {
                    cursor: pointer;
                }
            }
        }
	}
}
/* Icon fontawsome */
.sidenav {
	li {
		>a {
			>i.fab {
				margin: 0 20px 0 0;
				height: 44px;
				line-height: 44px;
				width: 24px;
				font-size: 1.1rem;
			}
		}
		a.collapsible-header {
			>i.fab {
				margin: 0 20px 0 0;
				height: 44px;
				line-height: 44px;
				width: 24px;
				font-size: 1.1rem;
			}
		}
	}
}
