<header class="page-topbar" id="header" data-layout="structure/head">
    <div class="navbar navbar-fixed">
        <nav class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-light">
            <div class="nav-wrapper">
                {{!-- Navbar list --}}
                <ul class="navbar-list">
                    {{!-- Search full --}}
                    <li class="header-search-wrapper hide-on-med-and-down">
                        <i class="material-icons">search</i>
                        <input class="header-search-input z-depth-2" type="text" name="Search" placeholder="Rechercher"
                            data-search="template-list">
                        <ul class="search-list collection display-none"></ul>
                    </li>
                    {{!-- Search small --}}
                    <li class="hide-on-large-only search-input-wrapper nav-button-circle">
                        <a class="waves-effect waves-block waves-light search-button"><i class="material-icons">search</i></a>
                    </li>
                    {{!-- Full screen --}}
                    <li class="hide-on-med-and-down nav-button-circle">
                        <a class="waves-effect waves-block waves-light toggle-fullscreen"><i class="material-icons">settings_overscan</i></a>
                    </li>

                </ul>
            </div>
            {{!-- Search bar for small screen --}}
            <nav class="display-none search-sm">
                <div class="nav-wrapper">
                    <form id="navbarForm">
                        <div class="input-field search-input-sm">
                            <input class="search-box-sm mb-0" type="search" required="" id="search" placeholder="Rechercher" data-search="template-list">
                            <label class="label-icon" for="search">
                                <i class="material-icons search-sm-icon">search</i>
                            </label>
                            <i class="material-icons search-sm-close">close</i>
                            <ul class="search-list collection search-list-sm display-none"></ul>
                        </div>
                    </form>
                </div>
            </nav>
        </nav>
    </div>
</header>
