<div id="main" class="{{_cookies.SIDENAV.STATUS}}  toto {{#ifEquals _cookies.SIDENAV.STATUS "collapse"}}main-full{{/ifEquals}}" data-layout="structure/main">
    <div class="row container">
        {{!-- Check user interface main --}}
        {{#if _user_interface.main}}
            {{!-- Iteration des data --}}
            {{#each _user_interface.main}}
                {{!-- Display content --}}
                {{{this}}}
            {{/each}}
        {{/if}}
        <div class="content-overlay"></div>
    </div>
</div>