<div id="options" data-layout="structure/options" class="options-container">
    {{!-- Reload --}}
    <a href="">
        <div class="options-container-item waves-effect wave-light z-depth-1" data-tippy-content="Rafraichir la page">
            <i class="material-icons">refresh</i>
        </div>
    </a>
    {{!-- Page source --}}
    <a href="" target="_blank">
        <div id="options-open-full-article" class="options-container-item waves-effect wave-light z-depth-1" data-tippy-content="Ouvrir dans un nouvel onglet">
            <i class="material-icons">open_in_new</i>
        </div>
    </a>
</div>