<header class="popup-header" data-layout="popup/header">
    <div class="popup-header-logo gradient-45deg-deep-purple-blue">
        <img src="/media/logo/logo_f_small_white/">
    </div>
    <div class="popup-header-ghost">

    </div>
    <div class="popup-header-content">
        <div class="popup-header-content-media">
            <a class="btn-floating btn-flat waves-effect">
                <i class="material-icons">info</i>
            </a>
        </div>
        <div class="popup-header-content-text">
            <div class="popup-header-content-text-title">
                <span>Info</span>
            </div>
            <div class="popup-header-content-text-description">
                <span>Nom du document</span>
            </div>
        </div>
    </div>
    <div class="popup-header-actions">   
        <div class="popup-header-content-text-actions-refresh">
            <a class="btn-floating btn-flat small waves-effect orange">
                <i class="material-icons white-text white-text">refresh</i>
            </a>
        </div>
        <div class="popup-header-content-text-actions-options">
            <a class="btn-floating btn-flat small waves-effect green">
                <i class="material-icons white-text">more_vert</i>
            </a>
        </div>
        <div class="popup-header-content-text-actions-close">
            <a class="btn-floating btn-flat small waves-effect red">
                <i class="material-icons white-text">close</i>
            </a>
        </div>
    </div>
</header>