<div id="main" data-layout="structure/main">
    <div class="row container">
        <div class="col s12 m4" id="home" data-layout="page/Home">
            <div class="card card-hover z-depth-0 card-border-gray">
                <a href="page-knowledge-licensing.html">
                    <div class="card-content center-align">
                        <h5><b>Support</b></h5>
                        <i class="material-icons md-48 red-text">favorite_border</i>
                        <p class="mb-2 black-text">Synonyms for support with free <br> online thesaurus, antonyms.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>