<div id="main" class="{{#ifEquals _cookies.SIDENAV.STATUS "expanded"}}{{else}}main-full{{/ifEquals}}" data-layout="structure/main">
    <div class="row container">
        {{!-- Divider --}}
        <div class="col s6 offset-s3 center-align">
            <h1>New Ticket</h1>
            <blockquote>Feature in developpment...</blockquote>
            <div class="card">
                <div id="rich-text-editor"></div>
            </div>
        </div>
    </div>
</div>
    
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>