<div class="content">
    <div class="scroll">
        <div class="container">
            <div class="row">
                <div id="markdown" class="col s12">
                    {{{currentPage.content}}}
                </div>
            </div>
        </div>
    </div>
</div>