{{!-- Iteration records --}}
{{#each records}}
    {{!-- Check children fields --}}
    {{#if this.relationships.fields}}
    <table>
        {{!-- Table Header --}}
        <thead>
            <tr>
                <th>Nom</th>
                <th>Value</th>
            </tr>
        </thead>
        {{!-- Body --}}
        <tbody>
        {{!-- Iteration children --}}
        {{#each this.relationships.fields}}
            <tr>
                <td>{{this.attributes.value}}</td>
                <td>{{this.attributes.name}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    {{/if}}
{{/each}}