/**
 *
 *      btn
 *
 */
a.btn-floating.small{
    /* Dimension */
    width: 25px;
    height: 25px;
    /* Position */
    display: flex;
    align-items: center;
    /* Children */
    i{
        /* Children */
        &.material-icons{
            /* Font */
            font-size: 1.4rem;
        }
    }

}

/**
 *
 *      Copy
 *
 */
$transitionDurationOpacity: opacity .5s;
.copy-parent{
    /* Position */
    position: relative;
    /* Children */
    a.copy-hover{
        /* Display */
        opacity: 0;
        position: absolute;
        left: -18px;
        top: 4px;
        /* Transition */
        transition: $transitionDurationOpacity;
        /* Cursor */
        cursor: pointer;
        /* Children */
        i{
            /* Children */
            &.material-icons{
                /* Font */
                font-size: small;
                vertical-align: revert;
            }
        }
        /* Events */
        &:hover{
            /* Display */
            opacity: 1;
            /* Transition */
            transition: $transitionDurationOpacity;
        }
    }
    /* Events */
    &:hover{
        /* Children */
        a.copy-hover{
            /* Display */
            opacity: 1;
            /* Transition */
            transition: $transitionDurationOpacity;
        }
    }
}