/**
 *
 *      btn
 *
 */
a.btn-floating.small{
    /* Dimension */
    width: 25px;
    height: 25px;
    /* Position */
    display: flex;
    align-items: center;
    /* Children */
    i{
        /* Children */
        &.material-icons{
            /* Font */
            font-size: 1.4rem;
        }
    }

}

/* Large Button M3 */
a.btn-large-m3{

    /* Dimension */
    width: 7em;
    height: 7em;

    /* Position */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Border radius */
    border-radius: 1.5em;

    /* Color */
    background-color: #ff4081;

    /* Shadow */
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12),0 1px 5px 0 rgba(0,0,0,.2);

    /* Cursor */
    cursor: pointer;

    /* Select */
    user-select: none;

    /* Children */
    >i{

        /* Position */
        margin: 0 0 10px 0;

        /* Color */
        color: white;
        

        /* Icons variantes */
        &.fab, &.fa-solid{

            /* Font */
            font-size: 2.2em;

        }

        &.material-icons{

            /* Font */
            font-size: 2.2em;

        }

    }

    >span{

        /* Position */
        position: absolute;
        bottom: 0.5em;

        /* Color */
        color: white;

        /* Font */
        font-weight: bold;

    }

}

/**
 *
 *      Copy
 *
 */
$transitionDurationOpacity: opacity .5s;
.copy-parent{
    /* Position */
    position: relative;
    /* Children */
    a.copy-hover{
        /* Display */
        opacity: 0;
        position: absolute;
        left: -18px;
        top: 4px;
        /* Transition */
        transition: $transitionDurationOpacity;
        /* Cursor */
        cursor: pointer;
        /* Children */
        i{
            /* Children */
            &.material-icons{
                /* Font */
                font-size: small;
                vertical-align: revert;
            }
        }
        /* Events */
        &:hover{
            /* Display */
            opacity: 1;
            /* Transition */
            transition: $transitionDurationOpacity;
        }
    }
    /* Events */
    &:hover{
        /* Children */
        a.copy-hover{
            /* Display */
            opacity: 1;
            /* Transition */
            transition: $transitionDurationOpacity;
        }
    }
}

/* Rotate infinite */
.rotate-infinite {
    animation: rotation 2s infinite linear;
}
  
/* Rotate Animtation */
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}