.card{

    &.card-border-gray{
        border: solid 1px #e0e0e0;
        border-radius: 8px;
    }
    &.waves-effect{
        /* Fix width */
        width: 100%;
    }

    /* Allow overflow */
    &.overflow-allow{
        /* Overflow */
        overflow-y: scroll;
    }

    .card-content{

        /* Allow overflow */
        &.overflow-allow{
            /* Overflow */
            overflow-y: scroll;
            /* Dimension */
            padding-bottom: 0px;
        }

    }

    /* Google my maps integration */
    &.google-my-maps{

        /* background */
        background: #2e312f;

        /* Children */
        .card-content{

            /* Dimension */
            padding: 0px;

            /* Display */
            display: flex;
            justify-content: center;

            /* Children */
            h5{
                /* Color */
                color: white;
                /* Position */
                position: absolute;
                display: block;
                padding-top: 10px;
                /* Dimension */
                width: auto;
            }

            iframe{

                /* Dimension */
                width: 100%;
                border-radius: 6px;
                border: none;

            }
        }

    }

    /* Children */
    .icons-grid{

        /* Display */
        display: grid;
        grid-template-columns: auto auto auto auto;

        /* Children */
        >div{

            /* Button m3 */
            >a.btn-large-m3{

                /* Position */
                margin: auto;

            }

        }

    }

}


.card-hover{
    &:hover{
        background-color: #e0e0e0;
        transition: .02s;
        .chip{
            background-color: white;
            transition: 0s;
            border: solid 1px #c7c7c7;
            &:hover{
                transition: 0s;
                border: solid 1px #9b9b9b;
                &:active{
                    transition: 0s;
                    border: solid 1px #e0e0e0;
                }
            }
        }
    }
    .chip{
        transition: 0s;
        border: solid 1px transparent;
    }
    transition: .1s;
}

/* Card panel */
.card-id{

    /* Position */
    display: flex;

    /* Dimension */
    padding: 5px;
    border-radius: 42px;

    /* border */
    &.border-id{
        /* Border */
        border: 1px solid #e0e0e0;
    }

    /* Children */
    >img{
        /* Dimension */
        width: 74px;
        height: 74px;
        /* Position */
        object-fit: cover;

    }
    >div{
        /* Position */
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        /* Dimension */
        flex-grow: 1;

        /* Children */
        .name{
            /* Font */
            font-weight: bold;
        }
        .extra{
            /* Font */
            font-size: 0.75rem;
            font-weight: 100;
        }
        >hr{
            /* Dimension */
            width: 30px;
            border-bottom: 0px;
            /* Position */
            margin: 5px auto 8px auto;
        }

    }

}

/* Movie player container */
$marginY: 0px;
$marginX: 0px;
.movie-player-container{

    /* Dimension */
    height: calc(100vh - 64px - calc(2 * $marginY));
    width: calc(100% - calc(2 * $marginY));

    /* Margin */
    margin: $marginX $marginY;

    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    >div {

        /* Dimension */
        width: 25%;

    }

}