/* Scrollspy */
$transitionPosition: .2s;
$transitionOpacity: .05s;
#scrollspy{
    /* Position */
    position: fixed;
    top: 75px;
    z-index: 2;
    right: 20px;
    // right: 25px;
    /* right: -5px; */
    //Transition
    transition: $transitionPosition;
    &:hover{
        // Position
        right: 20px!important;
        // Transition
        transition: $transitionPosition;
        /* Children */
        span{
            color: initial;
        }
    }
    &.card{
        /* Dimension */
        border-radius: 6px;
        /* Children */
        .table-of-contents{
            /* Dimension */
            padding: 0 15px 0 0;
        }
    }
    /* Children */
    span{
        color: transparent;
    }
    ul {
        /* Children */
        li {
            /* Display */
            display: flex;
            align-items: center;
            /* Children */
            a.scrollspy-body {
                /* Position */
                display: flex;
                align-items: center;
                /* border-left: 2px solid transparent; */
                padding-left: 17px;
                /* Font */
                font-weight: 500;
                white-space: nowrap;
                text-overflow: ellipsis;
                /* Display */
                overflow: hidden;
                /* Dimension */
                width: 100%;
                height: initial!important;
                /* Icon */
                &.material-icons{
                    /* Font */
                    font-weight: unset;
                }
                /* On hover */
                &:hover:not(.active){
                    border-left: 2px solid #90caf9;
                    padding-left: 15px;
                }
            }
            a.scrollspy-icon{
                margin-right: 8px;
                /* Subclass */
                &.active {
                    /* Border */
                    border-left: none;
                    /* Background */
                    background: #42a5f5;
                    /* Children */
                    i {
                        /* Color */
                        color: white!important;
                    }
                }
            }
            a.scrollspy-option, a.scrollspy-icon{
                /* Dimension */
                height: 30px;
                width: 30px;
                /* Position */
                display: flex;
                justify-content: center;
                align-items: center;
                padding-left: 0;
                /* Color */
                color: #757575;
                background-color: white;
                /* Hover */
                &:hover{
                    background-color: white;
                }
                /* Children */
                i.material-icons{
                    /* Font */
                    color: #757575;
                    font-size: 20px;
                }
                /* On hover */
                &:hover{
                    border: none!important;
                }
            }
        }
    }
}