{{!-- Main --}}
<div id="main" class="{{#ifEquals _cookies.SIDENAV.STATUS "expanded"}}{{else}}main-full{{/ifEquals}}" data-layout="structure/main">
    <div class="row container">
        {{!-- Divider --}}
        <div class="col s12">
            <div class="divider mt-2"></div>
        </div>
        {{!-- Section title --}}
        <div class="col s12 m6 offset-m3 center-align">
            {{!-- Title --}}
            <h1 class="header"><i class="material-icons mr-1">apps</i> Application</h1>
        </div>
        {{!-- Divider --}}
        <div class="col s12">
            <div class="divider"></div>
        </div>
        {{!-- Text --}}
        <div class="col s12 m8 offset-m2 mt-2">
            <div class="card horizontal" style="border-radius: 2px;">
                <div class="card-image">
                    <img src="/media/ressources/kevin/" style="height: 100%;object-fit: cover;">
                </div>
                <div class="card-stacked">
                    <div class="card-content" style="display: flex;align-items: center;">
                        <p class="flow-text">Fix Wiki is an application developed by Kevin Zarshenas, feel free to contact me at <a target="_blank" href="mailto:kevin.zarshenas@gmail.com">kevin.zarshenas@gmail.com</a> if you have any concerns !</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>