{{!-- Main --}}
<div id="main" class="{{#ifEquals _cookies.SIDENAV.STATUS "expanded"}}{{else}}main-full{{/ifEquals}}" data-layout="structure/main">
    <div class="row container">
        {{!-- Divider --}}
        <div class="col s12">
            <div class="divider mt-2"></div>
        </div>
        {{!-- Section title --}}
        <div class="col s12 m6 offset-m3 center-align">
            {{!-- Title --}}
            <h1 class="header"><i class="fab fa-markdown mr-1"></i> Markdown</h1>
        </div>
        {{!-- Divider --}}
        <div class="col s12 mb-1">
            <div class="divider"></div>
        </div>
        {{!-- Markdown --}}
        <div class="col s12">
            <ul class="collapsible expandable">
                <li>
                    <div class="collapsible-header"><i class="material-icons">title</i>Titre</div>
                    <div class="collapsible-body"><span>A remplir.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">text_format</i>Style de texte</div>
                    <div class="collapsible-body"><span>A remplir.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">code</i>Ligne de commande & code</div>
                    <div class="collapsible-body"><span>A remplir.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">link</i>Lien</div>
                    <div class="collapsible-body"><span>A remplir.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">image</i>Image & Média</div>
                    <div class="collapsible-body"><span>A remplir.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">format_list_bulleted</i>Liste</div>
                    <div class="collapsible-body"><span>A remplir.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">task_alt</i>Tâche</div>
                    <div class="collapsible-body"><span>A remplir.</span></div>
                </li>
            </ul>
        </div>
    </div>
</div>