{{!-- Main --}}
<div id="main" class="{{#ifEquals _cookies.SIDENAV.STATUS "expanded"}}{{else}}main-full{{/ifEquals}}" data-layout="structure/main">
    <div class="row container">
        {{!-- Divider --}}
        <div class="col s12">
            <div class="divider mt-2"></div>
        </div>
        {{!-- Section title --}}
        <div class="col s12 m6 offset-m3 center-align">
            {{!-- Title --}}
            <h1 class="header"><i class="fas fa-key mr-1"></i> Permission</h1>
        </div>
        {{!-- Divider --}}
        <div class="col s12">
            <div class="divider"></div>
        </div>
        <div class="col s12">
            <h3>Markdown</h3>
            <p>A markdown is a public document, everyone can read it on Fix Wiki.</p>
            <p>If you want add a password to to your markdown, just insert at the top of your document the code :<br><i>< !-- Password = EnterYourPasswordHere -- ></i></p>
            <h3>PDF</h3>
            <p>A pdf is a public document, everyone can read it on Fix Wiki</p>
            <h3>Google Document</h3>
            <p>Permission of Google document is managed by Google himself, if you don't allow a user to view your document he couldn't access to it. To solve this, just convert your document to PDF and drop it in the Fix Wiki Drive folder.</p>
        </div>
    </div>
</div>