{{!-- Main --}}
<div id="main" class="{{#ifEquals _cookies.SIDENAV.STATUS "expanded"}}{{else}}main-full{{/ifEquals}}" data-layout="structure/main">
    <div class="row container">
        {{!-- Divider --}}
        <div class="col s12">
            <div class="divider mt-2"></div>
        </div>
        {{!-- Section title --}}
        <div class="col s12 m6 offset-m3 center-align">
            {{!-- Title --}}
            <h1 class="header"><i class="material-icons mr-1">help_outline</i> Tutoriel</h1>
        </div>
        {{!-- Divider --}}
        <div class="col s12">
            <div class="divider"></div>
        </div>
        <div class="col s12">
            <h3>Partager un article</h3>
            <p>Pour partager un article du FixWiki</p>
            <h3>Partager une partie de l'article</h3>
        </div>
    </div>
</div>